USE [master]
GO
/****** Object:  Database [Adbms_Project]    Script Date: 5/5/2026 10:55:53 PM ******/
CREATE DATABASE [Adbms_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Adbms_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Adbms_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Adbms_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Adbms_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Adbms_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Adbms_Project]
GO
/****** Object:  UserDefinedFunction [dbo].[CalcPercentage]    Script Date: 5/5/2026 10:55:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalcPercentage](@obt INT, @tot INT)
RETURNS FLOAT
AS
BEGIN
    RETURN (@obt*100.0)/@tot;
END;
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 5/5/2026 10:55:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[attendance_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[date] [date] NULL,
	[status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [varchar](20) NOT NULL,
	[section] [varchar](10) NOT NULL,
	[room_no] [varchar](10) NULL,
	[teacher_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[exam_id] [int] IDENTITY(1,1) NOT NULL,
	[exam_name] [varchar](50) NOT NULL,
	[exam_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[exam_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[exam_title] [varchar](100) NULL,
	[student_id] [int] NULL,
	[subject_name] [varchar](50) NULL,
	[total_marks] [int] NULL,
	[obtained_marks] [int] NULL,
	[grade] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [varchar](20) NULL,
	[Period] [int] NOT NULL,
	[TimeInterval] [varchar](50) NOT NULL,
	[ClassName] [varchar](20) NOT NULL,
	[SubjectName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[roll_no] [varchar](20) NOT NULL,
	[class_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[subject_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[teacher_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[subject] [varchar](50) NOT NULL,
	[employee_id] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetable]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetable](
	[timetable_id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [int] NULL,
	[start_time] [varchar](20) NULL,
	[monday] [varchar](50) NULL,
	[tuesday] [varchar](50) NULL,
	[wednesday] [varchar](50) NULL,
	[thursday] [varchar](50) NULL,
	[friday] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[timetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([attendance_id], [student_id], [date], [status]) VALUES (1, 1, CAST(N'2026-05-01' AS Date), N'Present')
INSERT [dbo].[Attendance] ([attendance_id], [student_id], [date], [status]) VALUES (2, 1, CAST(N'2026-05-02' AS Date), N'Absent')
INSERT [dbo].[Attendance] ([attendance_id], [student_id], [date], [status]) VALUES (3, 1, CAST(N'2026-05-03' AS Date), N'Present')
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([class_id], [class_name], [section], [room_no], [teacher_id]) VALUES (1, N'Class 1', N'A', N'101', 1)
INSERT [dbo].[Classes] ([class_id], [class_name], [section], [room_no], [teacher_id]) VALUES (2, N'Class 1', N'B', N'102', 2)
INSERT [dbo].[Classes] ([class_id], [class_name], [section], [room_no], [teacher_id]) VALUES (3, N'Class 2', N'A', N'103', 3)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([exam_id], [exam_name], [exam_date]) VALUES (1, N'Mid', CAST(N'2026-03-01' AS Date))
INSERT [dbo].[Exams] ([exam_id], [exam_name], [exam_date]) VALUES (2, N'Final', CAST(N'2026-06-01' AS Date))
INSERT [dbo].[Exams] ([exam_id], [exam_name], [exam_date]) VALUES (3, N'Quiz1', CAST(N'2026-02-01' AS Date))
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([result_id], [exam_title], [student_id], [subject_name], [total_marks], [obtained_marks], [grade]) VALUES (5, N'Mids', 1, N'English', 50, 30, N'B')
INSERT [dbo].[Results] ([result_id], [exam_title], [student_id], [subject_name], [total_marks], [obtained_marks], [grade]) VALUES (7, N'Mids', 2, N'English', 50, 35, N'B')
SET IDENTITY_INSERT [dbo].[Results] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([ScheduleID], [TeacherID], [Period], [TimeInterval], [ClassName], [SubjectName]) VALUES (1, N'T001', 1, N'08:00 - 09:00', N'9-A', N'Mathematics')
INSERT [dbo].[Schedules] ([ScheduleID], [TeacherID], [Period], [TimeInterval], [ClassName], [SubjectName]) VALUES (2, N'T001', 2, N'09:00 - 10:00', N'10-B', N'Mathematics')
INSERT [dbo].[Schedules] ([ScheduleID], [TeacherID], [Period], [TimeInterval], [ClassName], [SubjectName]) VALUES (3, N'T001', 3, N'10:00 - 11:00', N'10-A', N'Mathematics')
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([student_id], [name], [roll_no], [class_id]) VALUES (1, N'Ali Khan', N'R001', 1)
INSERT [dbo].[Students] ([student_id], [name], [roll_no], [class_id]) VALUES (2, N'Ahmed Raza', N'R002', 1)
INSERT [dbo].[Students] ([student_id], [name], [roll_no], [class_id]) VALUES (3, N'Usman Tariq', N'R003', 2)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([subject_id], [subject_name]) VALUES (12, N'Accounting')
INSERT [dbo].[Subjects] ([subject_id], [subject_name]) VALUES (16, N'Art')
INSERT [dbo].[Subjects] ([subject_id], [subject_name]) VALUES (4, N'Biology')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([teacher_id], [name], [subject], [employee_id]) VALUES (1, N'Ali', N'Math', N'T001')
INSERT [dbo].[Teachers] ([teacher_id], [name], [subject], [employee_id]) VALUES (2, N'Ahmed', N'Physics', N'T002')
INSERT [dbo].[Teachers] ([teacher_id], [name], [subject], [employee_id]) VALUES (3, N'Usman', N'Chemistry', N'T003')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[Timetable] ON 

INSERT [dbo].[Timetable] ([timetable_id], [class_id], [start_time], [monday], [tuesday], [wednesday], [thursday], [friday]) VALUES (1, 9, N'08:00 - 09:00', N'Mathematics', N'English', N'Physics', N'Chemistry', N'Biology')
INSERT [dbo].[Timetable] ([timetable_id], [class_id], [start_time], [monday], [tuesday], [wednesday], [thursday], [friday]) VALUES (2, 9, N'09:00 - 10:00', N'English', N'Physics', N'Chemistry', N'Biology', N'Mathematics')
INSERT [dbo].[Timetable] ([timetable_id], [class_id], [start_time], [monday], [tuesday], [wednesday], [thursday], [friday]) VALUES (3, 9, N'10:00 - 10:30', N'BREAK', N'BREAK', N'BREAK', N'BREAK', N'BREAK')
SET IDENTITY_INSERT [dbo].[Timetable] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [role]) VALUES (1, N'Adnan', N'123', N'Admin')
INSERT [dbo].[Users] ([user_id], [username], [password], [role]) VALUES (2, N'Hammad', N'123', N'Teacher')
INSERT [dbo].[Users] ([user_id], [username], [password], [role]) VALUES (3, N'Ali', N'123', N'Student')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__9560EEE0F7ABDC93]    Script Date: 5/5/2026 10:55:54 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[roll_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subjects__40817661CCE8CA5A]    Script Date: 5/5/2026 10:55:54 PM ******/
ALTER TABLE [dbo].[Subjects] ADD UNIQUE NONCLUSTERED 
(
	[subject_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Teachers__C52E0BA9926BB519]    Script Date: 5/5/2026 10:55:54 PM ******/
ALTER TABLE [dbo].[Teachers] ADD UNIQUE NONCLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC5729B00AF68]    Script Date: 5/5/2026 10:55:54 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_StudentAttendance] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_StudentAttendance]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_StudentResult] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_StudentResult]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSchedule] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teachers] ([employee_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_TeacherSchedule]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_ClassTimetable] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_ClassTimetable]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='Student' OR [role]='Teacher' OR [role]='Admin'))
GO
/****** Object:  StoredProcedure [dbo].[AddStudent]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddStudent]
    @name VARCHAR(100),
    @roll VARCHAR(20),
    @class INT
AS
BEGIN
    INSERT INTO Students(name, roll_no, class_id)
    VALUES(@name, @roll, @class);
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudent]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteStudent]
    @id INT
AS
BEGIN
    DELETE FROM Students WHERE student_id=@id;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteTeacher]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTeacher]
    @teacher_id INT
AS
BEGIN
    DELETE FROM Teachers 
    WHERE teacher_id = @teacher_id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudent]    Script Date: 5/5/2026 10:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStudent]
    @id INT,
    @name VARCHAR(100)
AS
BEGIN
    UPDATE Students SET name=@name WHERE student_id=@id;
END;
GO
USE [master]
GO
